include
#Lib
#portfolio_app/__pycache__
#portfolio_app/migrations
#portfolio_app/__init__.py
#portfolio_project/__pycache__
#portfolio_project/__init__.py
portfolio_project/secret.py
#portfolio-template-basic
#db.sqlite3
#manage.py
#pyvenv.cfg
#requirements.txt
media
portfolioapp.pem
