include
IMAGES
#Lib
portfolio_app/__pycache__
db.sqlite3
portfolio_project/__pycache__
#portfolio_project/__init__.py
portfolio_project/secret.py
portfolio_project/settings.py
#portfolio-template-basic
db.sqlite3
#manage.py
pyvenv.cfg
#requirements.txt
media
portfolioapp.pem
